{{<base}}
    {{$body}}
    <h1>Parks</h1>
        <table class="table table-bordered table-hover">
        <thead class="table-light">
            <tr>
                <th>Name</th>
                <th>Latitude</th>
                <th>Longitude</th>
            </tr>
        </thead>
        <tbody>
            {{#parks}}
            <tr>
                <td>
                    {{wrappedValue(_name)}}
                </td>
                <td>
                    {{wrappedValue(_coordinates)}}
                </td>
                <td>
                    {{wrappedValue(_coordinates.longitude)}}
                </td>
            </tr>
            {{/parks}}
    </tbody>
</table>
     {{/body}}
{{/base}}
