{{<base}}
{{$body}}
<h1>Parks</h1>
<table class="table table-bordered table-hover">
    <thead class="table-light">
        <tr>
            <th>Name</th>
            <th>Latitude</th>
            <th>Longitude</th>
        </tr>
    </thead>
    <tbody>
        {{#parkContexts}}
        <tr>
            <td>
                <a href="/parks/{{ id }}">{{ name }}</a>
            </td>
            <td>{{ coordinates.latitude }}</td>
            <td>{{ coordinates.longitude }}</td>
        </tr>
    {{/parkContexts}}
</tbody>
</table>
{{/body}}
{{/base}}
