{{<base}}
{{$body}}
{{#park}}
<h2>{{ wrappedValue(_name) }}</h2>
<a class="btn btn-primary" id="parkLink" href="/park/">Edit</a>
<script>
        // Define the variable
        let id = "{{wrappedValue(_id)}}";

        // Get the link element
        let link = document.getElementById("parkLink");

        // Set the href attribute using the variable
        link.href = id;
</script>
{{/park}}
{{/body}}
{{/base}}
