{{<base}}
{{$body}}
<h2>{{ parkContext.name }}</h2>
<p>
    <b>Latitude:</b> {{ parkContext.coordinates.latitude }}, <b>Longitude:</b> {{ parkContext.coordinates.latitude }}
</p>
<a class="btn btn-primary"
   href="/parks/{{ parkContext.id }}/edit"
   role="button">Edit</a>
<a class="btn btn-danger"
   href="/parks/{{ parkContext.id }}/delete"
   role="button">Delete</a>
{{/body}}
{{/base}}
